name: Optimize SVGs

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * 0"

jobs:
  optimize:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
      
    - name: Install dependencies
      run: npm install

    - name: Run SVG optimization script
      run: node index.js

    - name: Configure Git
      run: |
        git config --global user.name "zerops-gh"
        git config --global user.email "zerops-gh@gmail.com"

    - name: Commit and push changes
      run: |
        git add .
        git commit -m "Optimize SVG files"
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
